
server:
  port: 7778
spring:
  activemq:
    broker-url: vm://embedded?broker.persistent=false,useShutdownHook=false
    in-memory: true
    non-blocking-redelivery: true
    packages:
      trust-all: false
      trusted: com.memorynotfound
    pool:
      block-if-full: true
      block-if-full-timeout: -1
      enabled: false
      idle-timeout: 30000
      max-connections: 1
      time-between-expiration-check: -1
      use-anonymous-producers: true
    jms:
      listener:
        acknowledge-mode: auto
        auto-startup: true
        concurrency: 5
        max-concurrency: 10
      pub-sub-domain: false
      template:
        default-destination:
        delivery-mode: non_persistence
        priority: 100
        qos-enabled: true
        receive-timeout: 1000
        time-to-live: 36000
  application:
    name: producer-service
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/db_consumer
    username: root
    password: rootroot
  sftp:
    host: "127.0.0.1"
    port: "22"
    user: "dicka"
    password: "dicka"
    delayprocess: 15000
